body {
  width: 220px;
  background-color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper > button{
  line-height: 40px;
  background-color: #333;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.wrapper>button:hover {
  background-color: #444;
}

.selectButton {
  line-height: 40px;
  background-color: #333;

}

.fillButton {
  line-height: 40px;
  background-color: #333;

}

.clearButton {
  line-height: 40px;
  background-color: #333;

}